main {
  margin-top: 60px;
}

main h1 {
  margin: 0 10px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 65px;
}

main h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 24px;
}

main h3 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 18px;
}

main p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}

div {
  display:flex;
  gap: 20px;
  margin: 40px;
}

.top {
  display:flex;
  flex-direction: row;
}

.left {
  flex:1;
  flex-direction: column;
}
.right{
  flex:2;
}

.bottom{
  flex:1;
  justify-content: center;
  background-color: #6f4e37;
  margin-left: 0px;
  margin-right: 0px;
  
}
.bottom img {
  width: 300px;
}

img {
  width: 100%;
}

